<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css"
/>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
      <div class="card border-0 shadow">
        <img src="assets/img/foto_profilo.jpeg" alt="..." />
        <div class="card-body p-1-9 p-xl-5">
          <div class="mb-4">
            <h3 class="h4 mb-0">Riccardo Montresor</h3>
            <span class="text-primary">Software Developer</span>
          </div>
          <ul class="list-unstyled mb-4">
            <li class="mb-3">
              <a href="#!"
                ><i class="far fa-envelope display-25 me-3 text-secondary"></i
                >riccardo.montresor@csgalileo.net</a
              >
            </li>
            <li>
              <a href="#!"
                ><i
                  class="fas fa-map-marker-alt display-25 me-3 text-secondary"
                ></i
                >Povegliano Veronese (VR)</a
              >
            </li>
          </ul>
          <ul class="social-icon-style2 ps-0">
            <li>
              <a href="#!" class="rounded-3"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="#!" class="rounded-3"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="ps-lg-1-6 ps-xl-5">
        <div class="mb-5 wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="h1 mb-0 text-primary">#Bio</h2>
          </div>
          <p>
            Sono un full-stack developer dal 2021, ho contribuito a sviluppare
            applicativi tra cui Charta, un documentale con frontend in Angular
            Typescript e backend Python in cui è possibile visionare e scaricare
            documenti di vario genere in formato PDF e Stage, applicativo in PHP
            usato dall'Università di Verona per gestire i propri esami.
          </p>
          <p class="mb-4">
            Sono grande appassionato di sport (da calcio a ciclismo, football
            americano e basket), attività esclusivamente seguite attraverso uno
            schermo, mi limito ad un po' di palestra. Sono un videogiocatore
            dall'età di 7 anni e mi piace il cinema
          </p>
          <p class="mb-4">
            Sono nato il 20/04/1990 a Villafranca di Verona e sono residente nel
            vicino comune di Povegliano Veronese, ho un fratello più giovane di
            nome Alessandro
          </p>
        </div>
        <div class="mb-5 wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="mb-0 text-primary">#Formazione</h2>
          </div>
          <div class="row mt-n4">
            <div class="col-sm-6 col-xl-4 mt-4">
              <div class="card text-center border-0 rounded-3">
                <div class="card-body">
                  <i class="ti-bookmark-alt icon-box medium rounded-3 mb-4"></i>
                  <h3 class="h5 mb-3">Educazione</h3>
                  <p class="mb-0">
                    Laurea in Ingegneria Elettronica e delle Telecomunicazioni
                    presso l'Università di Trento
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4 mt-4">
              <div class="card text-center border-0 rounded-3">
                <div class="card-body">
                  <i class="ti-pencil-alt icon-box medium rounded-3 mb-4"></i>
                  <h3 class="h5 mb-3">Carriera</h3>
                  <p class="mb-0">CsGalileo come software developer</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4 mt-4">
              <div class="card text-center border-0 rounded-3">
                <div class="card-body">
                  <i class="ti-medall-alt icon-box medium rounded-3 mb-4"></i>
                  <h3 class="h5 mb-3">Esperienza</h3>
                  <p class="mb-0">
                    Esperienza di due anni come full-stack developer
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="mb-0 text-primary">#Skills &amp; Esperienza</h2>
          </div>
          <p class="mb-4">
            So progarmmare in Python, Typescript e ho una piccola esperienza con
            PHP, ho una buona conoscenza di database SQL, di Fastapi, Sqlalchemy
            e Docker
          </p>
          <p class="mb-4">Mi ritengo bravo a lavorare in team</p>
          <div class="progress-style1">
            <div class="progress-text">
              <div class="row">
                <div class="col-6 fw-bold">Python</div>
                <div class="col-6 text-end">70%</div>
              </div>
            </div>
            <div class="custom-progress progress rounded-3 mb-4">
              <div
                class="animated custom-bar progress-bar slideInLeft"
                style="width: 70%"
                aria-valuemax="100"
                aria-valuemin="0"
                aria-valuenow="10"
                role="progressbar"
              ></div>
            </div>
            <div class="progress-text">
              <div class="row">
                <div class="col-6 fw-bold">Typescript</div>
                <div class="col-6 text-end">70%</div>
              </div>
            </div>
            <div class="custom-progress progress rounded-3 mb-4">
              <div
                class="animated custom-bar progress-bar bg-secondary slideInLeft"
                style="width: 70%"
                aria-valuemax="100"
                aria-valuemin="0"
                aria-valuenow="70"
                role="progressbar"
              ></div>
            </div>
            <div class="progress-text">
              <div class="row">
                <div class="col-6 fw-bold">PHP</div>
                <div class="col-6 text-end">50%</div>
              </div>
            </div>
            <div class="custom-progress progress rounded-3">
              <div
                class="animated custom-bar progress-bar bg-dark slideInLeft"
                style="width: 50%"
                aria-valuemax="100"
                aria-valuemin="0"
                aria-valuenow="70"
                role="progressbar"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
