<div class="card profile-card">
    <div class="background-block">
        <img src="{{mate.bkg}}" alt="profile-sample1" class="background"/>
    </div>
    <div class="profile-thumb-block">
        <img src="{{mate.img}}" alt="profile-image" class="profile"/>
    </div>
    <div class="card-content">
    <h2>{{mate.name}}</h2>
    <h3><small>{{mate.role}}</small></h3>
    <div class="icon-block"><a href="#"><i class="fab fa-facebook"></i></a><a href="#"> <i class="fab fa-twitter"></i></a><a href="#"> <i class="fab fa-google-plus"></i></a></div>
    </div>
</div>
