<app-header></app-header>

<div class="card profile-card">
  <!-- <div
  class="bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp');
    height: 400px;
  "
></div> -->
  <div class="row" style="background-color: aquamarine">
    <div class="col" style="padding: 5%">
      <div class="profile-thumb-block">
        <img src="./assets/img/fa.png" alt="profile-image" class="profile" />
      </div>
    </div>
    <div class="col" style="padding: 5%; align-items: left">
      <div class="row">
        <h1>Presentazione</h1>
        <p>
          Ciao a tutti, sono Federico, software developer per la Cooperativa
          Sociale Galileo. Nativo della zona del lago di Garda (Desenzano),
          finite le scuole superiori al liceo scientifico della cittadina, mi
          lancio in una nuova avventura universitaria a Verona e conseguo la
          laurea in Informatica che mi ha poi permesso di diventare quello che
          sono oggi. Come tipo di programmatore mi reputo un nativo java backend
          developer ma nel corso delle mia esperienze lavorative e non ho potuto
          anche approfondire altre tecnologie e linguaggi come Python e Angular.
          Cerco di stare al passo con le nuove tecnologie, ma mi piace anche
          tenermi in forma nel tempo libero facendo sport come corsa, calcetto e
          bicicletta. Seguo il calcio anche da vero appassionato, tifoso del
          Milan da quando ero bambino e concretizzo anche questa passione
          recandomi talvolta allo stadio per seguire i colori rossoneri. Quando
          capita anche qualche viaggetto in compagnia non mi dispiace,
          preferenza per il mare rispetto alla montagna, ma anche città d'arte,
          camminate e aperitivi in compagnia. Vi lascio i link alle mie pagine
          social se qualcuno volesse sbirciarle per curiosità :) .
        </p>
        <div class="col">
          <a
            class="btn btn-primary"
            style="background-color: #3b5998"
            href="https://www.facebook.com/federico.avigo/"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </div>
        <div class="col">
          <a
            class="btn btn-primary btn-lg btn-floating"
            style="background-color: #ac2bac"
            href="https://www.instagram.com/iamfedericoavigo/"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
        <div class="col">
          <a
            class="btn btn-primary btn-lg btn-floating"
            style="background-color: #0082ca"
            href="https://www.linkedin.com/in/federico-avigo-90016baa/"
            role="button"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

<app-footer></app-footer>
