<div
  style="background-image: url(&quot;../../../assets/img/background.jpeg&quot;)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn"
        style="padding-top: 5%"
      >
        <div
          class="card border-0 shadow"
          style="background-color: rgb(63, 224, 216)"
        >
          <img src="./assets/img/fa.png" alt="..." />
          <div class="card-body p-1-9 p-xl-5">
            <div class="mb-4">
              <h3 class="h4 mb-0">Federico Avigo</h3>
              <span class="text-primary">Software Developer</span>
            </div>
            <ul class="list-unstyled mb-4">
              <li class="mb-3">
                <a
                  href="mailto:federico.avigo@csgalileo.net?subject=Feedback&body=Message"
                  ><i class="far fa-envelope display-25 me-3 text-secondary"></i
                  >federico.avigo@csgalileo.net</a
                >
              </li>
              <li>
                <a href="https://www.google.com/maps/place/25010+Pozzolengo+BS"
                  ><i
                    class="fas fa-map-marker-alt display-25 me-3 text-secondary"
                  ></i
                  >Pozzolengo (BS)</a
                >
              </li>
            </ul>
            <div class="row">
              <div class="col">
                <a
                  class="btn btn-primary"
                  style="background-color: #3b5998"
                  href="https://www.facebook.com/federico.avigo/"
                  role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </div>
              <div class="col">
                <a
                  class="btn btn-primary btn-lg btn-floating"
                  style="background-color: #ac2bac"
                  href="https://www.instagram.com/iamfedericoavigo/"
                  role="button"
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
              <div class="col">
                <a
                  class="btn btn-primary btn-lg btn-floating"
                  style="background-color: #0082ca"
                  href="https://www.linkedin.com/in/federico-avigo-90016baa/"
                  role="button"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="ps-lg-1-6 ps-xl-5" style="padding-top: 5%">
          <div
            class="text-start mb-1-6 wow fadeIn"
            style="background-color: rgb(63, 224, 216)"
          >
            <h2 class="mb-0 text-primary">Biografia</h2>
          </div>
          <div
            class="card rounded-3"
            style="background-color: rgb(63, 224, 216)"
          >
            <div class="card-body">
              Ciao a tutti, sono Federico, software developer per la Cooperativa
              Sociale Galileo. Nativo di Pozzolengo(BS) situato sulle colline
              moreniche, finite le scuole superiori al liceo scientifico di
              Desenzano del Garda, mi lancio in una nuova avventura
              universitaria a Verona e conseguo la laurea in Informatica che mi
              ha poi permesso di diventare quello che sono oggi. Come tipo di
              programmatore mi reputo un nativo java backend developer ma nel
              corso delle mia esperienze lavorative e non ho potuto anche
              approfondire altre tecnologie e linguaggi come Python e Angular.
              Cerco di stare al passo con le nuove tecnologie, ma mi piace anche
              tenermi in forma nel tempo libero facendo sport come corsa,
              calcetto e bicicletta. Seguo il calcio anche da vero appassionato,
              tifoso del Milan da quando ero bambino e concretizzo anche questa
              passione recandomi talvolta allo stadio per seguire i colori
              rossoneri. Quando capita anche qualche viaggetto in compagnia non
              mi dispiace, preferenza per il mare rispetto alla montagna, ma
              anche città d'arte, camminate e aperitivi in compagnia. Vi lascio
              i link alle mie pagine social se qualcuno volesse sbirciarle per
              curiosità :) .
            </div>
            <div>
              <h2 class="mb-0 text-primary">Formazione</h2>
              <!-- <div class="col-sm-6 col-xl-4 mt-4"> -->
              <div class="card rounded-3">
                <div
                  class="card-body"
                  style="background-color: rgb(175, 210, 87)"
                >
                  <i class="ti-bookmark-alt icon-box medium rounded-3 mb-4"></i>
                  <h3 class="h5 mb-3">Scuola</h3>
                  <ul>
                    <li>
                      Liceo Scientifico G. Bagatta di Desenzano del Garda (BS)
                    </li>
                    <li>
                      Laurea in Informatica presso Università degli Studi di
                      Verona
                    </li>
                  </ul>
                </div>
              </div>
              <!-- </div> -->
              <!-- <div class="col-sm-8 col-xl-4 mt-4"> -->
              <div class="card rounded-3">
                <div
                  class="card-body"
                  style="background-color: rgb(175, 210, 87)"
                >
                  <i class="ti-pencil-alt icon-box medium rounded-3 mb-4"></i>
                  <h3 class="h5 mb-3">Esperienze lavorative</h3>
                  <ul>
                    <li>
                      <p class="mb-0">
                        GFT Italia come consulente/ programmatore informatico
                      </p>
                    </li>
                    <li>
                      <p class="mb-0">Panthera srl come full stack developer</p>
                    </li>
                    <li>
                      <p class="mb-0">CsGalileo come software developer</p>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- </div> -->
            </div>

            <div class="text-start mb-1-6 wow fadeIn">
              <h2 class="mb-0 text-primary">Tecnologie</h2>
            </div>
            <ul>
              <li>
                Buon livello su tecnologia Java, sviluppo di servizi REST e
                SOAP.
              </li>
              <li>
                Buona conoscenza di disegno di database e del linguaggio SQL.
              </li>
              <li>
                Discreta conoscenza di Python, Angular e linguaggi connessi
                (html, javascript, tyupescript, css).
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer style="background-color: rgba(165, 177, 189, 0.05)">
    <div class="text-center p-4" style="color: azure">
      © 2023 Copyright:
      <a
        class="text-reset fw-bold"
        href="https://www.linkedin.com/in/federico-avigo-90016baa/"
        >Federico Avigo</a
      >
    </div>
  </footer>
</div>
